.containerCard{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;    
}

@media (max-width: 500px) {
    .containerCard{
        flex-direction:column;
    }
}
.fondo{
    background-color: #F6F8FA;
    height: 100vh;
  }